/*Vedere se responsive*/
* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10%;
    background-color: cornflowerblue;
    padding: 24px;
  }
  .sidebar .logo img {
    width: 130px;
  }
  .sidebar .navigation ul {
    list-style: none;
    margin-top: 2
    0px;
  }
  .sidebar .navigation ul li {
    padding: 10px 0px;
  }
  .sidebar .navigation ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  .sidebar .navigation ul li a:hover,
  .sidebar .navigation ul li a:active,
  .sidebar .navigation ul li a:focus {
    color: black;
  }
  .sidebar .navigation ul li a:hover .fa,
  .sidebar .navigation ul li a:active .fa,
  .sidebar .navigation ul li a:focus .fa {
    color: black;
  }
  .sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
  }
  .sidebar .navigation ul li a:hover .fa:hover,
  .sidebar .navigation ul li a:hover .fa:active,
  .sidebar .navigation ul li a:hover .fa:focus {
    color: black;
  }
  .sidebar .policies {
    position: absolute;
    bottom: 100px;
  }
  .sidebar .policies ul {
    list-style: none;
  }
  .sidebar .policies ul li {
    padding-bottom: 5px;
  }
  .sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
  }
  .sidebar .policies ul li a:hover,
  .sidebar .policies ul li a:active,
  .sidebar .policies ul li a:focus {
    text-decoration: underline;
  }
  
  .main-container {
    margin-left: 245px;
    margin-bottom: 100px;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 30px;
    

  }
  .link{
    text-decoration: none;
  }
  /*pagina selezionata sidebar*/
  .Scolor{
    color: black;
  }
  /*Bottoni SX e DX*/
  .topbar .navbar ul{
    position: absolute;
    left: 83%;
    padding-bottom: 20px;
  }
  .topbar .navbar ul li {
   
    display: inline-block;
    margin: 0px 8px;
    padding-right: 30px;
    width: 70px;
  }

  .topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .topbar .navbar ul li a:hover,
  .topbar .navbar ul li a:active,
  .topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
  }
  .topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
  }
  .topbar .navbar button {
    background-color: white;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
    width: max-content;
  }

  .topbar .navbar button:hover,
  .topbar .navbar button:active,
  .topbar .navbar button:focus {
    background-color: #f2f2f2;
  }

  /*Pagina Principale*/
  .soundvibe-playlists {
    padding: 20px 40px;
  }
  .soundvibe-playlists h2 {
    color: black;
    font-size: 22px;
    margin-bottom: 20px;
  }



  .soundvibe-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
  .soundvibe-playlists .list .item {
    min-width: 140px;
    width: 12%;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .soundvibe-playlists .list .item:hover {
    background-color: #252525;
  }
  .soundvibe-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .soundvibe-playlists .list .item .play {
    position: relative;
  }
  .soundvibe-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: cornflowerblue;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
  }
  .soundvibe-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
  }
  .soundvibe-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .soundvibe-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
  .soundvibe-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
  }
  
  .preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
  }
  .preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  .preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
  }

  /*SearchBar*/
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 10%;
    right: 0;
    margin: 0 auto;
    height: 50px;
    width: 30%;
    border-radius: 20px;
    background-color: #f2f2f2;
    
  }
  
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    width: 90%;
    font-size: 16px;
    padding-left: 10px;
    height: 40px;
    border-radius: 20px;
    font-size: large;
  }
  
  .search-bar button[type="submit"] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .search-bar button[type="submit"] i {
    color: #555;
  }
  
  .search-bar button[type="submit"]:hover {
    background-color: #ddd;
  }
  .container {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ;
  }
  .musicGroup{
    margin-right: 10px;
    cursor: pointer;
    margin-top: 150px;
    margin-left: 20px;
    width: 15%;
    padding-top: 15%;
    background-color: cornflowerblue;
    border-radius: 10px;
    float: left;
    box-shadow: rgba(0.2, 0, 0, 0.24) 0px 3px 8px;
  }
   
  .container :hover{
    transform: scale(1.1);
  }
  .musicGroup1{
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
    width: 15%;
    padding-top: 15%;
    background-color: cornflowerblue;
    border-radius: 10px;
    float: left;
    box-shadow: rgba(0.1, 0, 0, 0.24) 0px 3px 8px;

  }

.musicGroup, .musicGroup1, h2{
  position: relative;
  font-size: 30px;
  color: white;
  text-align: center;  
  top: -10px;
}

.fourth2 h2{
  color: black
}
 
  .first1{
   /* background-color: red;*/
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2z2ZOQVXwF93riROTHyhtqwZYTvnUf-QrPA&usqp=CAU);
    background-size: cover;
    color: white;
  }
  .second1{
    background-image: url(https://www.nme.com/wp-content/uploads/2016/09/2014outkast_stankonia_101213.jpg);
    background-size: cover;
    color: rgb(137, 136, 136);
    
  }
  .third1{
    background-image: url(https://images.musicrad.io/resizer/?image=aHR0cHM6Ly9pczEtc3NsLm16c3RhdGljLmNvbS9pbWFnZS90aHVtYi9NdXNpYzEyNC92NC8yNC9hOC9lYS8yNGE4ZWE0NC1iYjc1LWEyNmUtYTgyZC01YTNmODVlODhjYTIvc291cmNlLzYwMHg2MDBiYi5qcGc%3D&width=600&signature=iR0vL140yPvUiXhxysSfHYwTNVo=);
    background-size: cover;
    color: white; 
  }
  .fourth1{
    background-image: url(https://m.media-amazon.com/images/I/415UiXGP4lL._UXNaN_FMjpg_QL85_.jpg);
    background-size: cover;
    color: white;
  }
  .first2{
    background-image: url(https://media.musyance.com/posts/2020/17/o_7bb7f770e6bad26396ec7753043cad45-15fb3ed91ed79d.jpeg);
    background-size: cover;
    color: white;
  }
  .second2{
    background-image: url(https://t4.ftcdn.net/jpg/01/04/78/75/360_F_104787586_63vz1PkylLEfSfZ08dqTnqJqlqdq0eXx.jpg);
    background-size: cover;
    color: white;
  }
  .third2{
    background-image: url(https://www.shutterstock.com/shutterstock/photos/1545341960/display_1500/stock-vector-indie-music-festival-poster-or-flyer-template-illustration-of-music-related-objects-such-as-guitar-1545341960.jpg);
    background-size: cover;
    color: white;
  }
  .fourth2{
    background-image: url(https://i1.sndcdn.com/avatars-000669572207-rw5e2o-t500x500.jpg);
    background-size: cover;
    
  }
  .fifth1{
    background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2017-01/25/11/asset/buzzfeed-prod-fastlane-03/sub-buzz-27248-1485361539-3.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto);
    background-size: cover;
    color: white;
  }
  .fifth2{
    background-image: url(https://img.freepik.com/free-vector/silhouette-party-audience_1048-9714.jpg?w=2000);
    background-size: cover;
    color: white;
  }

  .account{
    position: absolute;
    left: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 20px;
    width: auto;
    padding: 10px;
    background-color: #262626;
  }
  .account :hover{
  
    
    width: auto;
    
    background-color: #a80b0b;
    
  }
  .Music{
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* posizionamento fisso */
    left: 0; /* posizione sinistra */
    bottom: 0; /* posizione in basso */
    width: 100%; /* larghezza del div */
    height: 100px; /* altezza del div */
    background-color: black;
  }

  .Music img{
    width: 100px;
    height: 50px;
    background-color: #ccc;
    margin-right: 10px;
    cursor: pointer;
    background-color: #000000;
  }