/*Vedere se responsive*/
* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 12%;
    background-color: cornflowerblue;
    padding: 24px;
  }
  .sidebar .logo img {
    width: 80%;
  }
  .sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
  }
  .sidebar .navigation ul li {
    padding: 10px 0px;
  }
  .sidebar .navigation ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  .sidebar .navigation ul li a:hover,
  .sidebar .navigation ul li a:active,
  .sidebar .navigation ul li a:focus {
    color: black;
  }
 
  .sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
  }
  .sidebar .navigation ul li a:hover .fa:hover,
  .sidebar .navigation ul li a:hover .fa:active,
  .sidebar .navigation ul li a:hover .fa:focus {
    color: black;
  }

  
  .main-container {
    margin-left: 14%;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 30px;
  }

  .link{
    text-decoration: none;
  }
  /*pagina selezionata sidebar*/
  .Scolor{
    color: black;
  }
  /*Bottoni SX e DX*/

  .topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    padding-right: 30px;
    width: 70px;
  }

  
  .topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .topbar .navbar ul li a:hover,
  .topbar .navbar ul li a:active,
  .topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
  }
  .topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
  }
  .topbar .navbar button {
    background-color: white;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
    width: max-content;
    
  }
 
  .butLog {
    position: absolute;
    left: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    
  }
  .butLog h4{
    margin-right: 10px;
    color: #181818;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    width: max-content;
    background-color: #ffffff;
    border-color: #000000;
    border: 1px solid cornflowerblue;
    
  }
  .AccountName:hover{
    background-color: #3c3c3c;
    color: white;
    border-color: #3c3c3c;
  }
  .butLog, a {
    text-decoration: none;
  }

   .container {
    float: left;
    max-width: 100%; 
    margin-bottom: 80px;
    gap: 20px;
    overflow: hidden;
    padding-bottom: 15px;
  }


   .container .musicGroup .musicGroup1 {
    
    min-width: 140px;
    width: 12%;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
   .container  .musicGroup .play .fa {
    position: relative;
    right: -40%;
    top: 60px;
    padding: 18px;
    background-color: cornflowerblue;
    border-radius: 100%;
    opacity: 0;
    color: #000000;
    transition: all ease 0.4s;
  }
  .container .musicGroup:hover .play .fa {
    opacity: 1;
    transform: translateY(-40px);
  }

  /*SearchBar*/
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 10%;
    right: 0;
    margin: 0 auto;
    height: 50px;
    width: 30%;
    border-radius: 20px;
    background-color: #f2f2f2;
    
  }
  .resultSearch{
    display: flex;
    
    align-items: center;
    position: fixed;
    padding-top: 50px;
    height: 50px;
    top: 20px;
    left: 10%;
    right: 0;
    margin: 0 auto;
    width: 30%;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  ul{
    list-style-type: none;
  }
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    width: 90%;
    font-size: 16px;
    padding-left: 10px;
    height: 40px;
    border-radius: 20px;
    font-size: large;
  }
  
  .search-bar button[type="submit"] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .search-bar button[type="submit"] i {
    color: #555;
  }
  
  .search-bar button[type="submit"]:hover {
    background-color: #ddd;
  }
  .container {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ;
  }
  .musicGroup{
    margin-right: 10px;
    cursor: pointer;
    margin-top: 150px;
    margin-left: 20px;
    width: 15%;
    padding-top: 15%;
    background-color: cornflowerblue;
    border-radius: 10px;
    float: left;
    box-shadow: rgba(0.2, 0, 0, 0.24) 0px 3px 8px;
  }

  .musicHome{
    padding-top: 12%;
  }
   
  .container :hover{
    transform: scale(1.1);
  }
  .musicGroup1{
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
    width: 15%;
    padding-top: 15%;
    background-color: cornflowerblue;
    border-radius: 10px;
    float: left;
    box-shadow: rgba(0.1, 0, 0, 0.24) 0px 3px 8px;

  }

.musicGroup, .musicGroup1, h2{
  position: relative;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;  
  top: -10px;
}

.fourth2 h2{
  color: black
}
 
  .first1{
   /* background-color: red;*/
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2z2ZOQVXwF93riROTHyhtqwZYTvnUf-QrPA&usqp=CAU);
    background-size: cover;
    color: white;
  }
  .second1{
    background-image: url(https://www.nme.com/wp-content/uploads/2016/09/2014outkast_stankonia_101213.jpg);
    background-size: cover;
    color: rgb(137, 136, 136);
    
  }
  .third1{
    background-image: url(https://images.musicrad.io/resizer/?image=aHR0cHM6Ly9pczEtc3NsLm16c3RhdGljLmNvbS9pbWFnZS90aHVtYi9NdXNpYzEyNC92NC8yNC9hOC9lYS8yNGE4ZWE0NC1iYjc1LWEyNmUtYTgyZC01YTNmODVlODhjYTIvc291cmNlLzYwMHg2MDBiYi5qcGc%3D&width=600&signature=iR0vL140yPvUiXhxysSfHYwTNVo=);
    background-size: cover;
    color: white; 
  }
  .fourth1{
    background-image: url(https://m.media-amazon.com/images/I/415UiXGP4lL._UXNaN_FMjpg_QL85_.jpg);
    background-size: cover;
    color: white;
  }
  .first2{
    background-image: url(https://media.musyance.com/posts/2020/17/o_7bb7f770e6bad26396ec7753043cad45-15fb3ed91ed79d.jpeg);
    background-size: cover;
    color: white;
  }
  .second2{
    background-image: url(https://t4.ftcdn.net/jpg/01/04/78/75/360_F_104787586_63vz1PkylLEfSfZ08dqTnqJqlqdq0eXx.jpg);
    background-size: cover;
    color: white;
  }
  .third2{
    background-image: url(https://www.shutterstock.com/shutterstock/photos/1545341960/display_1500/stock-vector-indie-music-festival-poster-or-flyer-template-illustration-of-music-related-objects-such-as-guitar-1545341960.jpg);
    background-size: cover;
    color: white;
  }
  .fourth2{
    background-image: url(https://i1.sndcdn.com/avatars-000669572207-rw5e2o-t500x500.jpg);
    background-size: cover;
    
  }
  .fifth1{
    background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2017-01/25/11/asset/buzzfeed-prod-fastlane-03/sub-buzz-27248-1485361539-3.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto);
    background-size: cover;
    color: white;
  }
  .fifth2{
    background-image: url(https://img.freepik.com/free-vector/silhouette-party-audience_1048-9714.jpg?w=2000);
    background-size: cover;
    color: white;
  }
  .add{
    background-image:  url(./Foto/Add.jpg);
    background-size: cover;
  }

  .account{
    position: absolute;
    left: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 20px;
    width: auto;
    padding: 10px;
    background-color: #262626;
  }
  .account :hover{
    color: rgb(80, 80, 80);
  }
  .Music{
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: center;
    position: fixed; /* posizionamento fisso */
    left: 0; /* posizione sinistra */
    bottom: 0; /* posizione in basso */
    width: 100%; /* larghezza del div */
    height: 80px; /* altezza del div */
    background-color: #181818;
  }

  .Music img{
    width: 40px;
    height: 40px;
    background-color: #ccc;
    margin-right: 30px;
    cursor: pointer;
    background-color: #181818;
  }

  .title{
    position: absolute;
    top: 10%;
    left: 18%;
  }
  .favoriteCont{
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ;
  }
  .favoriteCont:hover{
    transform: scale(1.01);
  }
  .favorite{
    margin-top: 30px;
    width: 90%;
    background: linear-gradient(#9198e5,#bb5757 );
  }


  .FavTable{
    position: relative;
  }



  .FavTable, table {
    border-collapse: collapse;
    width: 90%;
    
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
  }
  
  .FavTable, th, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
  }
  
  .FavTable, th {
    background-color: cornflowerblue;
    font-weight: bold;
    color: #fffefe;
    text-transform: uppercase;
  }
  
  .FavTable, tbody tr:hover {
    background-color: #f5f5f5;
  }
  
.logout:hover{
  background-color: red;
  color: white;
  border-color: red;
}

.Song{
  position: relative;
  top: 100%;
}

.TableSong{
  width: 50%;
}
.pref{
  position: relative;
  top: 40%;
  left: -auto;
  width: 100px;
  height: 100px;
}