body{
background-color:  rgb(56, 56, 56);
}
.element{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Image{
    width: 18%;
    position: absolute;
    left: 10%;
}
.Image1{
    width: 25%;
    position: absolute;
    left: 10%;
}
.logout{
    position: absolute;
    width: 100%;
    bottom: 13%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Name{
    color: white;
}
a{
    text-decoration:none;
}

.sidebar{
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.square{
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;
    background-color: rgba(66,66,66);
    left: 0px;

}